name: Nightly

on:
  schedule:
    # Runs the end of every day.
    - cron: "0 0 * * *"

env:
  RUSTUP_TOOLCHAIN: nightly

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - uses: Swatinem/rust-cache@v2
      - run: scripts/rust_fmt.sh --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - run: >
          scripts/clippy.sh

  cairotest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: |
          cargo run --profile=ci-dev --bin cairo-test -- corelib/
      - run: |
          cargo run --profile=ci-dev --bin cairo-test -- tests/bug_samples --starknet
      - run: |
          cargo run --profile=ci-dev --bin cairo-test -- crates/cairo-lang-starknet/cairo_level_tests/ --starknet

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - uses: Swatinem/rust-cache@v2
      - run: >
          scripts/docs.sh

  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@master

  benchmark:
    if: github.repository == 'starkware-libs/cairo'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: benchmark-results
      cancel-in-progress: false
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2

      - name: Run benchmarks
        run: |
          set -o pipefail
          cargo bench -- --output-format bencher 2>&1 | tee benchmark-output.txt

      - name: Store benchmark results
        uses: benchmark-action/github-action-benchmark@4bdcce38c94cec68da58d012ac24b7b1155efe8b
        with:
          name: Cairo Compiler Benchmarks
          tool: 'cargo'
          output-file-path: benchmark-output.txt
          gh-pages-branch: gh-pages
          benchmark-data-dir-path: dev/bench
          auto-push: false
          fail-on-alert: false
          alert-threshold: '150%'
          summary-always: true

      - name: Push results to gh-pages
        run: git push origin gh-pages

  starknet_sierra_validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - uses: Swatinem/rust-cache@v2
      - run: >
          scripts/starknet_sierra_validate.sh https://starknet-mainnet.core.chainstack.com/57088c25afa0ff21277c6ee5f3b536bb/rpc/v0_7 10000
      - run: >
          scripts/starknet_sierra_validate.sh https://starknet-sepolia.core.chainstack.com/2eaebe8806ed2208f571223be415f594/rpc/v0_7 10000
